@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --blue: #2c03fc;
  --white: #fff;
}

.container {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
}

.container .navigation {
  position: relative;
  width: 100%;
}

.container .navigation ul {
  position: relative;
  width: 100%;
  list-style: none;
}

.container .navigation ul li {
  position: relative;
  margin-left: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.container .navigation ul li:hover,
.container .navigation ul li.hovered {
  background: var(--white);
}

.container .navigation ul li:nth-child(1) {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
  pointer-events: none;
}

.container .navigation ul li:nth-child(1) a .title {
    padding: 20px 0;
}

.container .navigation ul li a {
  position: relative;
  display: flex;
  text-decoration: none;
}

.container .navigation ul li a .icon {
  position: relative;
  padding: 10px;
  text-align: center;
  color: var(--white);
}

.container .navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.container .navigation ul li a .title {
  position: relative;
  padding: 15px 0;
  text-align: start;
  color: var(--white);
}

.container .navigation ul li:hover a ion-icon,
.container .navigation ul li.hovered a ion-icon {
  color: var(--blue);
}

.container .navigation ul li:hover a .title,
.container .navigation ul li.hovered a .title {
  color: var(--blue);
}

.container .navigation ul li:hover a::before,
.container .navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
}

.container .navigation ul li:hover a::after,
.container .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
  }

.dashboard {
  position: absolute;
  width: calc(100% - 300px);
  margin-left: 400px;
  padding: 10px;
}

.api {
  position: absolute;
  width: calc(100% - 300px);
  margin-left: 400px;
  padding: 10px;
}
