<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="planet-outline"></ion-icon>
          </span>
          <span class="title">BARATA</span>
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard' %}">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="earth-outline"></ion-icon>
          </span>
          <span class="title">WebGIS</span>
        </a>
      </li>
      <li>
        <a href="{% url 'api_home' %}">
          <span class="icon">
            <ion-icon name="cube-outline"></ion-icon>
          </span>
          <span class="title">API</span>
        </a>
      </li>
    </ul>
  </div>
</div>
